body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 10px 5px 5px 5px;
  padding: 20px;
  font-size: 16px;
}

.title {
  background: #e3f4ff;
  margin-bottom: 10px;
  margin-top: 5px;
  font-size: 16px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.content {
  background: #e3f4ff;
  padding: 20px 10px;
}

.button-container {
  background: #e3f4ff;
  display: block;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: auto;
  padding: 10px 20px;
}